SMS Geolocation.json
[
    {
        "id": "d781c74f0a2e9fc5",
        "type": "tab",
        "label": "Watch Tracker",
        "disabled": false,
        "info": "Receives watch messages via MQTT from HiveMQ Cloud, geolocates via Google API, displays on worldmap"
    },
    {
        "id": "7209b914c5f6c9d2",
        "type": "mqtt in",
        "z": "d781c74f0a2e9fc5",
        "name": "topic for normal position",
        "topic": "",
        "qos": "1",
        "datatype": "utf8",
        "broker": "74b2b1bf0e8c55e5",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 100,
        "wires": [
            [
                "7d87e01c3493bff9"
            ]
        ]
    },
    {
        "id": "4192bfbfc9b969d2",
        "type": "mqtt in",
        "z": "d781c74f0a2e9fc5",
        "name": "topic for SOS position",
        "topic": "",
        "qos": "1",
        "datatype": "utf8",
        "broker": "74b2b1bf0e8c55e5",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "7d87e01c3493bff9"
            ]
        ]
    },
    {
        "id": "92f960a6670a1499",
        "type": "inject",
        "z": "d781c74f0a2e9fc5",
        "name": "Test: normal message",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "IMEI:869387020011400;service:[208.01.3bad.3f27@-69];neighbors:[208.01.3bad.3f26@-74][208.01.3bad.3d26@-99][208.01.3bad.9eed@-103]",
        "payloadType": "str",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "7d87e01c3493bff9"
            ]
        ]
    },
    {
        "id": "b282158bdbf44b4d",
        "type": "inject",
        "z": "d781c74f0a2e9fc5",
        "name": "Test: SOS message",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SOS IMEI:869387020011400;",
        "payloadType": "str",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "7d87e01c3493bff9"
            ]
        ]
    },
    {
        "id": "7d87e01c3493bff9",
        "type": "function",
        "z": "d781c74f0a2e9fc5",
        "name": "Parse watch message",
        "func": "const raw = (typeof msg.payload === 'string'\n    ? msg.payload\n    : String(msg.payload)\n).trim();\n\nmsg.rawMessage = raw;\n\nfunction parseCell(token) {\n    const m = token.match(/^(\\d+)\\.(\\d+)\\.([0-9a-fA-F]+)\\.([0-9a-fA-F]+)@(-?\\d+)$/);\n    if (!m) return null;\n    return {\n        mobileCountryCode: parseInt(m[1], 10),\n        mobileNetworkCode: parseInt(m[2], 10),\n        locationAreaCode:  parseInt(m[3], 16),\n        cellId:            parseInt(m[4], 16),\n        signalStrength:    parseInt(m[5], 10)\n    };\n}\n\nconst sosMatch = raw.match(/^SOS\\s+IMEI:(\\d+);?$/i);\nif (sosMatch) {\n    msg.imei = sosMatch[1];\n    msg.isSOS = true;\n    msg.topic = 'sos';\n    msg.serving = null;\n    msg.neighbors = [];\n    node.status({ fill:'red', shape:'dot', text:'SOS from ' + msg.imei });\n    return [null, msg];\n}\n\nconst imeiMatch    = raw.match(/IMEI:(\\d+)/);\nconst serviceMatch = raw.match(/service:\\[([^\\]]+)\\]/);\nconst neighborRe   = /\\[([^\\]]+)\\]/g;\n\nif (!imeiMatch || !serviceMatch) {\n    node.error('Unparseable message: ' + raw, msg);\n    return [null, null];\n}\n\nconst serving = parseCell(serviceMatch[1]);\nif (!serving) {\n    node.error('Unparseable serving cell: ' + serviceMatch[1], msg);\n    return [null, null];\n}\n\nconst neighbors = [];\nlet nm;\nlet skipFirst = true;\nwhile ((nm = neighborRe.exec(raw)) !== null) {\n    if (skipFirst) { skipFirst = false; continue; }\n    const c = parseCell(nm[1]);\n    if (c) neighbors.push(c);\n}\n\nmsg.imei      = imeiMatch[1];\nmsg.isSOS     = false;\nmsg.topic     = 'location';\nmsg.serving   = serving;\nmsg.neighbors = neighbors;\n\nmsg.geoBody = {\n    radioType: 'gsm',\n    considerIp: true,\n    cellTowers: [serving, ...neighbors]\n};\n\nnode.status({ fill:'green', shape:'dot', text: msg.imei + ' · ' + (1+neighbors.length) + ' towers' });\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "d257bfeadad5c23d"
            ],
            [
                "e2dc373b65bca20f"
            ]
        ]
    },
    {
        "id": "d257bfeadad5c23d",
        "type": "function",
        "z": "d781c74f0a2e9fc5",
        "name": "Prepare Geo request",
        "func": "const apiKey = env.get('GOOGLE_GEO_API_KEY') || 'write your google geolocation API key';\nif (!apiKey || apiKey === 'YOUR_API_KEY') {\n    node.warn('GOOGLE_GEO_API_KEY not set!');\n}\nmsg.url     = 'https://www.googleapis.com/geolocation/v1/geolocate?key=' + apiKey;\nmsg.method  = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = {\n    radioType: 'gsm',\n    homeMobileCountryCode: 208,\n    homeMobileNetworkCode: 1,\n    considerIp: true,\n    cellTowers: [msg.serving, ...msg.neighbors]\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 140,
        "wires": [
            [
                "8c3a4825ae0ff6d7"
            ]
        ]
    },
    {
        "id": "8c3a4825ae0ff6d7",
        "type": "http request",
        "z": "d781c74f0a2e9fc5",
        "name": "Google Geolocation API",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 860,
        "y": 140,
        "wires": [
            [
                "0403194fe0ac935c"
            ]
        ]
    },
    {
        "id": "0403194fe0ac935c",
        "type": "function",
        "z": "d781c74f0a2e9fc5",
        "name": "Handle geo response",
        "func": "if (!msg.payload || msg.payload.error) {\n    const err = msg.payload && msg.payload.error ? msg.payload.error.message : 'Unknown error';\n    node.warn('Geolocation API error: ' + err);\n    msg.lat      = null;\n    msg.lng      = null;\n    msg.accuracy = null;\n} else {\n    msg.lat      = msg.payload.location.lat;\n    msg.lng      = msg.payload.location.lng;\n    msg.accuracy = msg.payload.accuracy;\n}\n\nconst watches = flow.get('watches') || {};\nif (!watches[msg.imei]) {\n    watches[msg.imei] = {\n        imei:      msg.imei,\n        lat:       msg.lat,\n        lng:       msg.lng,\n        accuracy:  msg.accuracy,\n        sos:       msg.isSOS || false,\n        serving:   msg.serving,\n        neighbors: msg.neighbors,\n        updatedAt: new Date().toISOString()\n    };\n} else {\n    watches[msg.imei].lat       = msg.lat;\n    watches[msg.imei].lng       = msg.lng;\n    watches[msg.imei].accuracy  = msg.accuracy;\n    watches[msg.imei].sos       = msg.isSOS || false;\n    watches[msg.imei].updatedAt = new Date().toISOString();\n}\nflow.set('watches', watches);\n\nmsg.topic   = msg.isSOS ? 'sos' : 'location';\nmsg.payload = watches[msg.imei];\n\nnode.status({\n    fill:  msg.lat ? 'green' : 'yellow',\n    shape: 'dot',\n    text:  msg.imei + ' → ' + (msg.lat ? msg.lat.toFixed(4)+','+msg.lng.toFixed(4) : 'no fix')\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 140,
        "wires": [
            [
                "5bc8c63c025bf9c5",
                "8e2c0c8938942cbd",
                "98d741d00e9ce009"
            ]
        ]
    },
    {
        "id": "e2dc373b65bca20f",
        "type": "function",
        "z": "d781c74f0a2e9fc5",
        "name": "Handle SOS",
        "func": "const watches = flow.get('watches') || {};\nif (!watches[msg.imei]) {\n    watches[msg.imei] = {\n        imei: msg.imei,\n        lat: null, lng: null, accuracy: null,\n        sos: true,\n        serving: null,\n        neighbors: [],\n        updatedAt: new Date().toISOString()\n    };\n} else {\n    watches[msg.imei].sos = true;\n    watches[msg.imei].updatedAt = new Date().toISOString();\n}\nflow.set('watches', watches);\n\nmsg.payload = watches[msg.imei];\nmsg.topic   = 'sos';\nmsg.isSOS   = true;\n\nconst locStr = watches[msg.imei].lat\n    ? watches[msg.imei].lat.toFixed(4) + ',' + watches[msg.imei].lng.toFixed(4)\n    : 'unknown location';\n\nmsg.sosText = '⚠ SOS — IMEI ' + msg.imei + ' at ' + locStr + ' (' + new Date().toLocaleTimeString() + ')';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 240,
        "wires": [
            [
                "5bc8c63c025bf9c5",
                "8e2c0c8938942cbd",
                "5373a21cdb53b39c",
                "e958bcde4f479c64",
                "1aa732eb99e5aee6"
            ]
        ]
    },
    {
        "id": "5bc8c63c025bf9c5",
        "type": "function",
        "z": "d781c74f0a2e9fc5",
        "name": "Build map marker",
        "func": "const w = msg.payload;\nif (!w.lat) return null;\n\nmsg.payload = {\n    name:      w.imei,\n    lat:       w.lat,\n    lon:       w.lng,\n    icon:      w.sos ? 'danger' : 'circle',\n    iconColor: w.sos ? 'red' : 'blue',\n    label:     w.imei.slice(-4),\n    popup:     '<b>' + (w.sos ? '⚠ SOS — ' : '') + w.imei + '</b><br>' +\n               'Lat: ' + w.lat.toFixed(5) + '<br>' +\n               'Lng: ' + w.lng.toFixed(5) + '<br>' +\n               '±' + Math.round(w.accuracy || 0) + ' m<br>' +\n               'Updated: ' + w.updatedAt\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 140,
        "wires": [
            [
                "1a45968281dc60ab"
            ]
        ]
    },
    {
        "id": "1a45968281dc60ab",
        "type": "worldmap",
        "z": "d781c74f0a2e9fc5",
        "name": "World Map",
        "lat": "50.6",
        "lon": "3.07",
        "zoom": "13",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1500,
        "y": 140,
        "wires": []
    },
    {
        "id": "8e2c0c8938942cbd",
        "type": "function",
        "z": "d781c74f0a2e9fc5",
        "name": "Format table rows",
        "func": "const watches = flow.get('watches') || {};\nconst rows = Object.values(watches).map(w => ({\n    imei:      w.imei,\n    sos:       w.sos,\n    lat:       w.lat  != null ? w.lat.toFixed(5)  : '—',\n    lng:       w.lng  != null ? w.lng.toFixed(5)  : '—',\n    accuracy:  w.accuracy != null ? Math.round(w.accuracy) + ' m' : '—',\n    updatedAt: w.updatedAt\n}));\nmsg.payload = rows;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 220,
        "wires": [
            [
                "d14a3c3c5f27c045"
            ]
        ]
    },
    {
        "id": "d14a3c3c5f27c045",
        "type": "ui_table",
        "z": "d781c74f0a2e9fc5",
        "group": "grp_table",
        "name": "Watch Table",
        "order": 2,
        "width": "12",
        "height": "6",
        "columns": [
            {
                "field": "imei",
                "title": "IMEI",
                "width": "160",
                "align": "left",
                "formatter": "plaintext"
            },
            {
                "field": "sos",
                "title": "SOS",
                "width": "60",
                "align": "center",
                "formatter": "tickCross"
            },
            {
                "field": "lat",
                "title": "Latitude",
                "width": "100",
                "align": "right",
                "formatter": "plaintext"
            },
            {
                "field": "lng",
                "title": "Longitude",
                "width": "100",
                "align": "right",
                "formatter": "plaintext"
            },
            {
                "field": "accuracy",
                "title": "Accuracy",
                "width": "80",
                "align": "right",
                "formatter": "plaintext"
            },
            {
                "field": "updatedAt",
                "title": "Last seen",
                "width": "180",
                "align": "left",
                "formatter": "plaintext"
            }
        ],
        "outputs": 0,
        "x": 1500,
        "y": 220,
        "wires": []
    },
    {
        "id": "5373a21cdb53b39c",
        "type": "ui_text",
        "z": "d781c74f0a2e9fc5",
        "group": "grp_sos",
        "order": 1,
        "width": "12",
        "height": "2",
        "name": "SOS Alert Text",
        "label": "Latest SOS",
        "format": "{{msg.sosText}}",
        "layout": "row-left",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "e958bcde4f479c64",
        "type": "ui_toast",
        "z": "d781c74f0a2e9fc5",
        "position": "top right",
        "displayTime": "10",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "Acknowledge",
        "cancel": "",
        "raw": false,
        "className": "",
        "name": "SOS Notification",
        "x": 860,
        "y": 320,
        "wires": []
    },
    {
        "id": "98d741d00e9ce009",
        "type": "debug",
        "z": "d781c74f0a2e9fc5",
        "name": "Location debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 300,
        "wires": []
    },
    {
        "id": "1aa732eb99e5aee6",
        "type": "debug",
        "z": "d781c74f0a2e9fc5",
        "name": "SOS debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "74b2b1bf0e8c55e5",
        "type": "mqtt-broker",
        "name": "HiveMQ Cloud",
        "broker": "your broker",
        "port": "8883",
        "tls": "",
        "clientid": "nodered-watch-tracker",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "grp_table",
        "type": "ui_group",
        "name": "Watch List",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_sos",
        "type": "ui_group",
        "name": "SOS Alerts",
        "tab": "ui_tab_main",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Watch Tracker",
        "icon": "fa-watch",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6e768fba74c44cdd",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-web-worldmap": "5.8.1",
            "node-red-node-ui-table": "0.4.5",
            "node-red-dashboard": "3.6.6"
        }
    }
]